@using Flowdash_Mini.Enums
@using Flowdash_Mini.ViewModels.Activities
@using Flowdash_Mini.ViewModels.Projects
@using System.Globalization
@using Flowdash_Mini.ViewModels.Tasks
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.ProjectName;
    MemberType mt = ViewBag.MemberType;
}
@model ProjectVM

<div class="flex-grow-1">
    <div class="mb-4 mt-3 d-flex justify-content-between gap-2">
        <h3 class="m-0 d-flex justify-content-start gap-3 align-items-center">
            <i class="bx bx-bookmark-alt"></i>
            @Model.ProjectName
        </h3>
        <a href="javascript:void(0);" class="refresh-btn btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2">
            <i class="bx bx-refresh-cw"></i> <span>Refresh</span>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 order-1">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-primary fs-20">
                                        <i class="bx bx-group"></i>
                                    </span>
                                </div>
                                <a href="/project/members" class="text-secondary fs-20" title="Manage">
                                    <i class='bx  bx-slider'></i>
                                </a>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Members</span>
                            <h3 class="card-title mb-0">@Model.Members.Count</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-warning fs-20">
                                        <i class="bx bx-widget"></i>
                                    </span>
                                </div>
                                <a href="/project/progress" class="text-secondary fs-20" title="Manage">
                                    <i class='bx  bx-slider'></i>
                                </a>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Boards</span>
                            <h3 class="card-title mb-0">@Model.TaskBoards.Count</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-success fs-20">
                                        <i class='bx  bx-seal-check'></i>
                                    </span>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Finished Tasks</span>
                            <h3 class="card-title mb-0">@(ViewBag.FinishedTasks)</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-danger fs-20">
                                        <i class='bx  bx-circle-three-quarter-alt'></i>
                                    </span>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total In Progress Tasks</span>
                            <h3 class="card-title mb-0">@(ViewBag.InProgressTasks)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.MemberType == MemberType.Owner ||
                ViewBag.MemberType == MemberType.Admin)
        {
            <!-- Total Revenue -->
            <div class="col-12 col-lg-6 order-2 order-md-3 order-lg-2 mb-4">
                <div class="card">
                    <div class="row row-bordered g-0">
                        <div class="col-md-8">
                            <h5 class="card-header m-0 me-2 pb-3">Activity Graph</h5>
                            <div id="totalRevenueChart" class="px-2"></div>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center p-3">
                            <div class="d-flex flex-column justify-content-start gap-3 align-items-center">
                                <div id="growthChart"></div>
                                <div class="d-flex flex-column gap-1 align-items-start w-100 mt-3">
                                    <div class="d-flex align-items-center bg-hover-light rounded-3 p-2 w-100">
                                        <div class="me-2">
                                            <span class="badge bg-label-primary p-2">
                                                <i class="bx bx-calendar-alt text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <small>Start Date</small>
                                            <h6 class="mb-0">@Model.StartDate.ToString("dd MMM, yyyy")</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center bg-hover-light rounded-3 w-100 p-2">
                                        <div class="me-2">
                                            <span class="badge bg-label-danger p-2"><i class="bx bx-calendar-x text-danger"></i></span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <small>End Date</small>
                                            <h6 class="mb-0">@Model.Deadline.ToString("dd MMM, yyyy")</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Total Revenue -->
            @if (ViewBag.LastActivities != null)
            {
                <div class="col-lg-6 col-12 order-2 mb-4">
                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">Last 4 Activities</h5>
                            <a href="/project/activity">View All</a>
                        </div>
                        <div class="card-body px-3">
                            <ul class="p-0 m-0">
                                @for (int i = 0; i < ((List<ProjectLogVM>)ViewBag.LastActivities).Count; i++)
                                {
                                    <li class="d-flex @(i == (ViewBag.LastActivities.Count - 1) ? "" : "mb-4") pb-1 bg-hover-light rounded-3 p-2">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary fs-20">
                                                <i class='bx  bx-pencil-circle'></i>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">

                                            <h6 class="mb-0 w-100">
                                                <span class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                                    @(((ProjectLogVM)ViewBag.LastActivities[i]).Text)
                                                </span>
                                            </h6>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <i class="text-muted bx bx-calendar"></i>
                                                <h6 class="mb-0 text-muted">@(((ProjectLogVM)ViewBag.LastActivities[i]).CreatedAt.ToString("dd MMM, yyyy"))</h6>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    @if (ViewBag.MemberType == MemberType.User)
    {
        <div class="card h-100">
            <div class="card-body px-0">
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                        <div class="p-4 pt-3">
                            <h2 class="mb-1">
                                Activity Chart
                            </h2>
                            <p class="text-muted">This chart shows your current progress of the project</p>
                        </div>
                        <div id="incomeChart"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    int inProgressTasks = ViewBag.InProgressTasks;
    int finishedTasks = ViewBag.FinishedTasks;
    int totalTasks = inProgressTasks + finishedTasks;
    var percentage = totalTasks == 0 ? 0 : (finishedTasks * 100) / totalTasks;
}
@{
    var tasks = (List<TaskVM>)ViewBag.Tasks;

    var totalByMonth = tasks
        .GroupBy(t => t.CreatedAt.Month)
        .ToDictionary(g => g.Key, g => g.Count());

    var completedByMonth = tasks
        .Where(t => t.Status == AppTaskStatus.Completed)
        .GroupBy(t => t.CompletedAt.Month)
        .ToDictionary(g => g.Key, g => g.Count());

    var activeMonths = totalByMonth.Keys
        .Union(completedByMonth.Keys)
        .OrderBy(m => m)
        .ToList();
    string[] monthNames = { "", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };

    var categories = activeMonths.Select(m => monthNames[m]).ToArray();
    var totalData = Enumerable.Range(1, 12).Select(m => totalByMonth.GetValueOrDefault(m, 0)).ToArray();
    var completedData = Enumerable.Range(1, 12).Select(m => completedByMonth.GetValueOrDefault(m, 0)).ToArray();

    var completedDataFull = Enumerable.Range(1, 12)
    .Select(m => completedByMonth.GetValueOrDefault(m, 0))
    .ToArray();
}

@section Scripts {
    <script>
        $(function () {
            let cardColor, headingColor, axisColor, shadeColor, borderColor;
            cardColor = config.colors.white;
            headingColor = config.colors.headingColor;
            axisColor = config.colors.axisColor;
            borderColor = config.colors.borderColor;

            let per = '@percentage'

            $('#home-mbtn').addClass('active')

            // Growth Chart - Radial Bar Chart
            // --------------------------------------------------------------------
            const growthChartEl = document.querySelector('#growthChart'),
              growthChartOptions = {
                series: [parseInt(per)],
                labels: ['Completion'],
                chart: {
                  height: 240,
                  type: 'radialBar'
                },
                plotOptions: {
                  radialBar: {
                    size: 150,
                    offsetY: 10,
                    startAngle: -150,
                    endAngle: 150,
                    hollow: {
                      size: '55%'
                    },
                    track: {
                      background: cardColor,
                      strokeWidth: '100%'
                    },
                    dataLabels: {
                      name: {
                        offsetY: 15,
                        color: headingColor,
                        fontSize: '15px',
                        fontWeight: '600',
                        fontFamily: 'Public Sans'
                      },
                      value: {
                        offsetY: -25,
                        color: headingColor,
                        fontSize: '22px',
                        fontWeight: '500',
                        fontFamily: 'Public Sans'
                      }
                    }
                  }
                },
                colors: [config.colors.primary],
                fill: {
                  type: 'gradient',
                  gradient: {
                    shade: 'dark',
                    shadeIntensity: 0.5,
                    gradientToColors: [config.colors.primary],
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 0.6,
                    stops: [30, 70, 100]
                  }
                },
                stroke: {
                  dashArray: 5
                },
                grid: {
                  padding: {
                    top: -35,
                    bottom: -10
                  }
                },
                states: {
                  hover: {
                    filter: {
                      type: 'none'
                    }
                  },
                  active: {
                    filter: {
                      type: 'none'
                    }
                  }
                }
              };
            if (typeof growthChartEl !== undefined && growthChartEl !== null) {
              const growthChart = new ApexCharts(growthChartEl, growthChartOptions);
              growthChart.render();
            }

            const categories = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(categories));
            const totalData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(totalData));
            const completedData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(completedData));
            const totalRevenueChartEl = document.querySelector('#totalRevenueChart'),
              totalRevenueChartOptions = {
                series: [
                  {
                    name: 'Total Tasks',
                    data: totalData
                  },
                  {
                    name: 'Completed',
                    data: completedData
                  }
                ],
                chart: {
                  height: 300,
                  stacked: true,
                  type: 'bar',
                  toolbar: { show: false }
                },
                plotOptions: {
                  bar: {
                    horizontal: false,
                    columnWidth: '70%',
                    borderRadius: 12,
                    startingShape: 'rounded',
                    endingShape: 'rounded'
                  }
                },
                colors: [config.colors.primary, config.colors.info],
                dataLabels: {
                  enabled: false
                },
                stroke: {
                  curve: 'smooth',
                  width: 6,
                  lineCap: 'round',
                  colors: [cardColor]
                },
                legend: {
                  show: true,
                  horizontalAlign: 'left',
                  position: 'top',
                  markers: {
                    height: 8,
                    width: 8,
                    radius: 12,
                    offsetX: -3
                  },
                  labels: {
                    colors: axisColor
                  },
                  itemMargin: {
                    horizontal: 10
                  }
                },
                grid: {
                  borderColor: borderColor,
                  padding: {
                    top: 0,
                    bottom: -8,
                    left: 20,
                    right: 20
                  }
                },
                xaxis: {
                  categories: categories,
                  labels: {
                    style: {
                      fontSize: '13px',
                      colors: axisColor
                    }
                  },
                  axisTicks: {
                    show: false
                  },
                  axisBorder: {
                    show: false
                  }
                },
                yaxis: {
                  forceNiceScale: true,
                  labels: {
                    formatter: function(val) {
                      return Math.floor(val);
                    },
                    style: {
                      fontSize: '13px',
                      colors: axisColor
                    }
                  }
                },
                states: {
                  hover: {
                    filter: {
                      type: 'none'
                    }
                  },
                  active: {
                    filter: {
                      type: 'none'
                    }
                  }
                }
              };
            if (typeof totalRevenueChartEl !== undefined && totalRevenueChartEl !== null) {
              const totalRevenueChart = new ApexCharts(totalRevenueChartEl, totalRevenueChartOptions);
              totalRevenueChart.render();
            }

            // Income Chart - Area chart
            // --------------------------------------------------------------------
            const completedDataFull = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(completedDataFull));
            const incomeChartEl = document.querySelector('#incomeChart'),
              incomeChartConfig = {
                series: [
                  {
                    data: [0, ...completedData]
                  }
                ],
                chart: {
                  height: 215,
                  parentHeightOffset: 0,
                  parentWidthOffset: 0,
                  toolbar: {
                    show: false
                  },
                  type: 'area'
                },
                dataLabels: {
                  enabled: false
                },
                stroke: {
                  width: 2,
                  curve: 'smooth'
                },
                legend: {
                  show: false
                },
                colors: [config.colors.primary],
                fill: {
                  type: 'gradient',
                  gradient: {
                    shade: shadeColor,
                    shadeIntensity: 0.6,
                    opacityFrom: 0.5,
                    opacityTo: 0.25,
                    stops: [0, 95, 100]
                  }
                },
                grid: {
                  borderColor: borderColor,
                  strokeDashArray: 3,
                  padding: {
                    top: -20,
                    bottom: -8,
                    left: -10,
                    right: 8
                  }
                },
                xaxis: {
                  categories: ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                  axisBorder: {
                    show: false
                  },
                  axisTicks: {
                    show: false
                  },
                  labels: {
                    show: true,
                    style: {
                      fontSize: '13px',
                      colors: axisColor
                    }
                  }
                },
                yaxis: {
                  labels: { show: false },
                  tickAmount: 4
                }
              };
            if (typeof incomeChartEl !== undefined && incomeChartEl !== null) {
              const incomeChart = new ApexCharts(incomeChartEl, incomeChartConfig);
              incomeChart.render();
            }
        })
    </script>
}