@using Flowdash_Mini.Enums
@using Flowdash_Mini.ViewModels.Activities
@using Flowdash_Mini.ViewModels.Projects
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.ProjectName;
    MemberType mt = ViewBag.MemberType;
}
@model ProjectVM

<div class="flex-grow-1">
    <div class="mb-4 mt-3 d-flex justify-content-between gap-2">
        <h3 class="m-0 d-flex justify-content-start gap-3 align-items-center">
            <i class="bx bx-bookmark-alt"></i>
            @Model.ProjectName
        </h3>
        <a href="javascript:void(0);" class="refresh-btn btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2">
            <i class="bx bx-refresh-cw"></i> <span>Refresh</span>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 order-1">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-primary fs-20">
                                        <i class="bx bx-group"></i>
                                    </span>
                                </div>
                                <a href="/project/members" class="text-secondary fs-20" title="Manage">
                                    <i class='bx  bx-slider'></i>
                                </a>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Members</span>
                            <h3 class="card-title mb-0">@Model.Members.Count</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-warning fs-20">
                                        <i class="bx bx-widget"></i>
                                    </span>
                                </div>
                                <a href="/project/progress" class="text-secondary fs-20" title="Manage">
                                    <i class='bx  bx-slider'></i>
                                </a>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Boards</span>
                            <h3 class="card-title mb-0">@Model.TaskBoards.Count</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-success fs-20">
                                        <i class='bx  bx-seal-check'></i>
                                    </span>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total Finished Tasks</span>
                            <h3 class="card-title mb-0">@(ViewBag.FinishedTasks)</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-center justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <span class="avatar-initial rounded bg-label-danger fs-20">
                                        <i class='bx  bx-circle-three-quarter-alt'></i>
                                    </span>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Total In Progress Tasks</span>
                            <h3 class="card-title mb-0">@(ViewBag.InProgressTasks)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.MemberType == MemberType.Owner ||
                ViewBag.MemberType == MemberType.Admin)
        {
            <!-- Total Revenue -->
            <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                <div class="card">
                    <div class="row row-bordered g-0">
                        <div class="col-md-8">
                            <h5 class="card-header m-0 me-2 pb-3">Activity Graph</h5>
                            <div id="totalRevenueChart" class="px-2"></div>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center p-3">
                            <div class="d-flex flex-column justify-content-start gap-3 align-items-center">
                                <div id="growthChart"></div>
                                <div class="d-flex flex-column gap-1 align-items-start w-100 mt-3">
                                    <div class="d-flex align-items-center bg-hover-light rounded-3 p-2 w-100">
                                        <div class="me-2">
                                            <span class="badge bg-label-primary p-2">
                                                <i class="bx bx-calendar-alt text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <small>Start Date</small>
                                            <h6 class="mb-0">@Model.StartDate.ToString("dd MMM, yyyy")</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center bg-hover-light rounded-3 w-100 p-2">
                                        <div class="me-2">
                                            <span class="badge bg-label-danger p-2"><i class="bx bx-calendar-x text-danger"></i></span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <small>End Date</small>
                                            <h6 class="mb-0">@Model.Deadline.ToString("dd MMM, yyyy")</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Total Revenue -->
            @if (ViewBag.LastActivities != null)
            {
                <div class="col-md-6 col-lg-4 order-2 mb-4">
                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">Last 4 Activities</h5>
                            <a href="/project/activity">View All</a>
                        </div>
                        <div class="card-body px-3">
                            <ul class="p-0 m-0">
                                @for (int i = 0; i < ((List<ProjectLogVM>)ViewBag.LastActivities).Count; i++)
                                {
                                    <li class="d-flex @(i == (ViewBag.LastActivities.Count - 1) ? "" : "mb-4") pb-1 bg-hover-light rounded-3 p-2">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <span class="avatar-initial rounded bg-label-primary fs-20">
                                                <i class='bx  bx-pencil-circle'></i>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">

                                            <h6 class="mb-0 w-100">
                                                <span class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                                    @(((ProjectLogVM)ViewBag.LastActivities[i]).Text)
                                                </span>
                                            </h6>
                                            <div class="user-progress d-flex align-items-center gap-1">
                                                <i class="text-muted bx bx-calendar"></i>
                                                <h6 class="mb-0 text-muted">@(((ProjectLogVM)ViewBag.LastActivities[i]).CreatedAt.ToString("dd MMM, yyyy"))</h6>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    @if (ViewBag.MemberType == MemberType.User)
    {
        <div class="card h-100">
            <div class="card-body px-0">
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                        <div class="p-4 pt-3">
                            <h2 class="mb-1">
                                Activity Chart
                            </h2>
                            <p class="text-muted">This chart shows your current progress of the project</p>
                        </div>
                        <div id="incomeChart"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(function () {
            $('#home-mbtn').addClass('active')
        })
    </script>
}