@using Flowdash_Mini.Enums
@using Flowdash_Mini.Extensions
@using Flowdash_Mini.Models.Projects
@using Flowdash_Mini.ViewModels.Members
@using Flowdash_Mini.ViewModels.Projects
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Project Members";
    ProjectState state = ViewBag.ProjectState;
    int x = 1;
}
@model List<ProjectMemberVM>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="fw-bold py-3 mb-4"><a href="/project" class="text-muted fw-light">Project /</a> Members</h4>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            @if (ViewBag.MemberType != MemberType.User && state == ProjectState.Private)
            {
                <a href="javascript:void(0);" class="btn btn-primary d-flex justify-content-center align-items-center gap-2">
                    <i class="bx bx-envelope"></i> <span>Invite Members</span>
                </a>
            }
            else if (state == ProjectState.Public)
            {
                <a href="javascript:void(0);" class="btn btn-primary d-flex justify-content-center align-items-center gap-2">
                    <i class="bx bx-envelope"></i> <span>Add Members</span>
                </a>
            }
            <a href="javascript:void(0);" class="refresh-btn btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2">
                <i class="bx bx-refresh-cw"></i> <span>Refresh</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">View Members</h5>
                <div class="card-body">
                    <div class="table-responsive table-responsive text-nowrap">
                        <table class="table table-bordered data-table-list">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        <h6 class="m-0">Full name</h6>
                                    </th>
                                    <th>
                                        <h6 class="m-0">Joined at</h6>
                                    </th>
                                    <th>
                                        <h6 class="m-0">Member Type</h6>
                                    </th>
                                    @if (ViewBag.MemberType == MemberType.Owner)
                                    {
                                        <th>
                                            <h6 class="m-0">Actions</h6>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="list">
                                @if (Model.Count > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-start">
                                                <h6 class="m-0">@(x++)</h6>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-2 align-items-center justify-content-start">
                                                    <h6 class="m-0">
                                                        @item.Member?.FullName
                                                    </h6>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="m-0">@item.JoinedAt.ToString("dd MMM, yyyy")</h6>
                                            </td>
                                            <td>
                                                @if (item.MemberType == MemberType.Owner)
                                                {
                                                    <span class="badge bg-label-warning text-warning">Owner</span>
                                                }
                                                else if (item.MemberType == MemberType.Admin)
                                                {
                                                    <span class="badge bg-label-success text-success">Admin</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-label-primary text-primary">User</span>
                                                }
                                            </td>
                                            @if (ViewBag.MemberType == MemberType.Owner)
                                            {
                                                <td class="text-center">
                                                    @if (item.Member?.Id != User.GetUserId())
                                                    {
                                                        <div class="dropdown">
                                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                                    data-bs-toggle="dropdown" aria-expanded="true">
                                                                <i class="bx bx-dots-vertical-rounded"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="/project/editmember/@item.Id">
                                                                    <i class="bx bx-edit me-1"></i>
                                                                    <span>Edit Member</span>
                                                                </a>
                                                                <a class="dropdown-item text-danger" id="@item.Id" name="transfer-ownership" href="javascript:void(0))">
                                                                    <i class='bx  bx-arrow-left-right me-1'></i>
                                                                    <span>Transfer Ownership</span>
                                                                </a>
                                                                <a class="dropdown-item text-danger" id="@item.Id" name="remove-member" href="javascript:void(0))">
                                                                    <i class="bx bx-trash me-1"></i>
                                                                    <span>Remove Member</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#members-mbtn').addClass('active')

        $(document).on('click', 'a[name="remove-member"]', function () {
                Swal.fire({
                    title: "Are you sure?",
                    text: "This member will be removed from the project",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, remove it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/project/removemember/' + $(this).attr('id'),
                            method: 'post',
                        }).fail(xhr => {
                            Swal.fire({
                                title: "Oops..",
                                text: `Error (${xhr.status}) ${xhr.responseText}`,
                                icon: "error"
                            });
                        }).done((result) => {
                            if(result.statusCode == 200) {
                                Swal.fire({
                                    title: "Done!",
                                    text: "Member Removed Successfully!",
                                    icon: "success"
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    title: "Oops..",
                                    text: result.msg || "An error occurred...",
                                    icon: "error"
                                })
                            }
                        })
                    }
                });
            });

            $(document).on('click', 'a[name="transfer-ownership"]', function () {
                Swal.fire({
                    title: "Are you sure?",
                    text: "This is a dangerous area!\nYou can't undo this action!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, transfer ownership!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/project/transferownership/' + $(this).attr('id'),
                            method: 'post',
                        }).fail(xhr => {
                            Swal.fire({
                                title: "Oops..",
                                text: `Error (${xhr.status}) ${xhr.responseText}`,
                                icon: "error"
                            });
                        }).done((result) => {
                            if(result.statusCode == 200) {
                                Swal.fire({
                                    title: "Done!",
                                    text: "Ownership Transferred Successfully!",
                                    icon: "success"
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    title: "Oops..",
                                    text: result.msg || "An error occurred...",
                                    icon: "error"
                                })
                            }
                        })
                    }
                });
            });
    </script>
}