@using Flowdash_Mini.Enums
@using Flowdash_Mini.Extensions
@using Flowdash_Mini.ViewModels.JoinRequests
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Join Requests";
    int x = 1;
}
@model List<JoinRequestVM>


<div class="flex-grow-1">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="fw-bold py-3 mb-4"><a href="/project" class="text-muted fw-light">Project /</a> Join Requests</h4>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <a href="javascript:void(0);" class="refresh-btn btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2">
                <i class="bx bx-refresh-cw"></i> <span>Refresh</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">View Join Requests</h5>
                <div class="card-body">
                    <div class="table-responsive table-responsive text-nowrap">
                        <table class="table table-bordered data-table-list">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        <h6 class="m-0">Full name</h6>
                                    </th>
                                    <th>
                                        <h6 class="m-0">Request Date</h6>
                                    </th>
                                    @if (ViewBag.MemberType == MemberType.Owner)
                                    {
                                        <th>
                                            <h6 class="m-0">Actions</h6>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="list">
                                @if (Model.Count > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-start">
                                                <h6 class="m-0">@(x++)</h6>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-2 align-items-center justify-content-start">
                                                    <h6 class="m-0">
                                                        @item.User.FullName
                                                    </h6>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="m-0">@item.CreatedAt.ToString("dd MMM, yyyy")</h6>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-2 align-items-center">
                                                    <a id="@item.Id" name="reject-req" class="d-flex align-items-center justify-content-center rounded-circle btn btn-outline-danger p-2">
                                                        <i class="bx bx-x"></i>
                                                    </a>
                                                    <a id="@item.Id" name="accept-req" class="d-flex align-items-center justify-content-center rounded-circle btn btn-outline-success p-2">
                                                        <i class="bx bx-check"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#jr-mbtn').addClass('active')

        $(document).on('click', 'a[name="accept-req"]', function () {
            Swal.fire({
                title: "Are you sure?",
                text: "This request will be accpeted and the member will be added to the project",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, accept it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/project/acceptrequest/' + $(this).attr('id'),
                        method: 'post',
                    }).fail(xhr => {
                        Swal.fire({
                            title: "Oops..",
                            text: `Error (${xhr.status}) ${xhr.responseText}`,
                            icon: "error"
                        });
                    }).done((result) => {
                        if(result.statusCode == 200) {
                            Swal.fire({
                                title: "Done!",
                                text: "Member Added Successfully!",
                                icon: "success"
                            }).then(() => {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: "Oops..",
                                text: result.msg || "An error occurred...",
                                icon: "error"
                            })
                        }
                    })
                }
            });
        });

        $(document).on('click', 'a[name="reject-req"]', function () {
            Swal.fire({
                title: "Are you sure?",
                text: "This join request will be rejected",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, reject it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/project/rejectrequest/' + $(this).attr('id'),
                        method: 'post',
                    }).fail(xhr => {
                        Swal.fire({
                            title: "Oops..",
                            text: `Error (${xhr.status}) ${xhr.responseText}`,
                            icon: "error"
                        });
                    }).done((result) => {
                        if(result.statusCode == 200) {
                            Swal.fire({
                                title: "Done!",
                                text: "Join Request Rejected Successfully!",
                                icon: "success"
                            }).then(() => {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: "Oops..",
                                text: result.msg || "An error occurred...",
                                icon: "error"
                            })
                        }
                    })
                }
            });
        });
    </script>
}