@using Flowdash_Mini.Enums
@using Flowdash_Mini.ViewModels.Tasks
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Task Board";
}
@model List<TaskVM>
@section Styles {
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/summernote/summernote-lite.min.css" />
}

<div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="exampleModalLabel1">Create new Task</h5>
                <button class="clean-btn fs-20"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Task Title</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Title" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="descBasic" class="form-label">Description (optional)</label>
                        <textarea class="summernote" id="descBasic" placeholder="Enter Description..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold py-3 mb-0"><a href="/project" class="text-muted fw-light">Project /</a> Task Board</h4>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <button id="create-task-modal" class="btn btn-primary d-flex justify-content-center align-items-center gap-2">
                <i class="bx bx-envelope"></i> <span>Add Task</span>
            </button>
            <button class="refresh-btn btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2">
                <i class="bx bx-refresh-cw"></i> <span>Refresh</span>
            </button>
        </div>
    </div>

    <!-- Accordion -->
    <div class="card">
        <div class="card-body">
            <h5>In Progress Tasks</h5>
            <div class="demo-inline-spacing mt-3">
                <div class="list-group">
                    @foreach (var item in Model.Where(e => e.Status == AppTaskStatus.Completed))
                    {
                        <div href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start p-3">
                            <div class="d-flex align-items-center gap-3">
                                <i class="fs-20 bx bx-menu handle"></i>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between w-100">
                                        <h6>@item.Title</h6>
                                        <div class="dropdown">
                                            <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                                <a class="dropdown-item d-flex gap-2 align-items-center" href="javascript:void(0);">
                                                    <i class="bx bx-edit"></i>
                                                    <span>Edit Task</span>
                                                </a>
                                                <a class="dropdown-item d-flex gap-2 align-items-center text-danger" href="javascript:void(0);">
                                                    <i class="bx bx-trash"></i>
                                                    <span>Delete Task</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mb-1">
                                        @Html.Raw(item.Description)
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small>@item.CreatedAt.ToString("dd MMM, yyyy hh:mm tt")</small>
                                        <div class="d-flex align-items-center gap-2">
                                            <button class="btn btn-success btn-sm">
                                                Done
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <h5 class="mt-4">Completed Tasks</h5>
            <div class="demo-inline-spacing mt-3">
                <div class="list-group">
                    @foreach (var item in Model.Where(e => e.Status == AppTaskStatus.InProgress))
                    {
                        <div href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start p-3">
                            <div class="d-flex justify-content-between w-100">
                                <h6 class="text-decoration-line-through">@item.Title</h6>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                        <a class="dropdown-item d-flex gap-2 align-items-center" href="javascript:void(0);">
                                            <i class="bx bx-edit"></i>
                                            <span>Edit Task</span>
                                        </a>
                                        <a class="dropdown-item d-flex gap-2 align-items-center text-danger" href="javascript:void(0);">
                                            <i class="bx bx-trash"></i>
                                            <span>Delete Task</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <p class="mb-1 text-decoration-line-through">
                                @Html.Raw(item.Description)
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small>Completed on @item.CompletedAt.ToString("dd MMM, yyyy hh:mm tt") by @item.CompletedBy</small>
                                <div class="d-flex align-items-center gap-2">
                                    <button class="btn btn-danger btn-sm">
                                        In Progress
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <!--/ Advance Styling Options -->
</div>

@section Scripts {
    <script src="~/admin/assets/vendor/libs/sortable/sortable.min.js"></script>
    <script src="~/admin/assets/vendor/libs/summernote/summernote-lite.min.js"></script>
    <script>
        $(function() {
            $('#create-task-modal').on('click', function (ev) {
                ev.preventDefault()
                $('#basicModal').modal('show')
            })

            $('.list-group').each(function (index, element) {
                new Sortable(element, {
                    handle: '.handle',
                    animation: 150
                });
            })

            $(".summernote").summernote({
                height: 200,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen']]
                ],
                disableDragAndDrop: true
            });
        });
    </script>
}